// Base colors
$color-black: #000;
$color-white: #fff;

// White
$color-white-mint-cream: #eaf0eb;
$color-white-spring-wood: #f3f0e7;

// Pink
$color-pink-champagne: #e7cdc7;
$color-pink-chablis: #ffe7d9;
$color-pink-light: #da546c;

// Green
$color-green-hunter: #486549;
$color-green-palm-leaf: #2c3e2c;
$color-shadow-green: #f5f8f5;

// Yellow
$color-yellow-blond: #fbf2c0;
$color-yellow-depp-champagne: #ffd88f;

// Brown
$color-brown-chestnu: #8f5346;

// Orange
$color-orange-atomic: #ff9e5e;

// Gray
$color-gray-taupe: #8e8e92;
